/* This file is for your main application css. */
body {
    font-family: "Kalam", cursive;    
}

.iliad-logo {
    font-family: 'Josefin Sans', sans-serif;
    color: lime !important;
    font-size: 1.5em !important;
}
.help-block {
    color:red;
    text-transform: capitalize;
    position: absolute;
    top: 40px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.titles {
    font-family: "Amatic SC";
}

.cancel-small {
    color: rgba(139, 0, 0, 0.55);
    margin-top: 10px;
}